{% extends 'base.html' %}
{% load static %}

{% block title %}Article List{% endblock %}
{% block content %}
    <h1>Wiki Articles</h1>

    <p><a href="{% url 'wiki:article-create' %}">+ Create a new article</a></p>

    {% if user.is_authenticated %}
        <h2>Your Articles</h2>
        {% if your_articles %}
            <ul>
                {% for a in your_articles %}
                    <li>
                        <a href="{{ a.get_absolute_url }}">{{ a.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven’t written any articles yet.</p>
        {% endif %}
    {% endif %}

    <h2>All Articles</h2>
    {% if all_articles_by_category %}
        {% for category, articles in all_articles_by_category.items %}
            <h3>{{ category.name }}</h3>
            <ul>
                {% for a in articles %}
                    <li><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No articles available.</p>
    {% endif %}
{% endblock %}