{% extends 'base.html' %}

{% load static %}

{% block title %}Articles{% endblock %}

{% block content %}
    <h1>Blog</h1>
    <div class="division">
        <div class="inner-division">
            <h2>Your Articles</h2>
            <ul>
                {% for article in user_articles %}
                <li class="existing">
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </li>
                {% empty %}
                <li>No articles authored by you yet.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="inner-division">
            <h2>All Other Articles (Grouped by Category)</h2>
            {% if other_articles %}
                {% for category, articles in other_articles.items %}
                    <h3>{{ category.name }}</h3>
                    <ul>
                        {% for article in articles %}
                        <li class="existing"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% else %}
                <p>No articles found in other categories.</p>
            {% endif %}
        </div>
    </div>
    <p><a class="create" href="{% url 'blog:article-create' %}">Create New Article</a></p>
{% endblock %}
