{% extends 'base.html' %}

{% load static %}

{% block title %}Commission List{% endblock %}
{% block styles %}
<style>

</style>
{% endblock %}
{% block content %}
    <h1>Commissions</h1>

    {% if user.is_authenticated %}
    <div class="division">
        <div class="inner-division">
            <h2>My Commissions</h2>
            <ul>
            {% for commission in my_commissions %}
                <li class="existing"><a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a></li>
            {% empty %}
                <li>No commissions created.</li>
            {% endfor %}
            </ul>
        </div>

        <div class="inner-division">
            <h2>Applied Commissions</h2>
            <ul>
            {% for commission in applied_commissions %}
                <li class="existing"><a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a></li>
            {% empty %}
                <li>No commissions applied to.</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    
        <div class="inner-division">
            <h2>All Commissions</h2>
            <ul>
            {% for commission in object_list %}
                <li class="existing"><a href="{{ commission.get_absolute_url }}">{{ commission.title }}:{{ commission.status }}</a></li>
            {% empty %}
                <li>No commissions available.</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <a class="create" href="{% url 'commissions:commission-create' %}">Create New Commission</a>
{% endblock %}
