{% extends 'base.html' %}

{% load static %}

{% block title %} Edit Commission {% endblock %}

{% block content %}
    <h1>Edit Commission</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% for item in application_forms %}
            <div>
                <strong>Job:</strong> {{ item.job.role }}<br>
                <strong>Applicant:</strong> {{ item.application.applicant }}<br>
                {{ item.form.status }}
            </div>
        {% endfor %}

         <button type="submit">Update</button>
    </form>
    <a href="{% url 'commissions:commission-detail' object.pk %}">Back to Detail</a>
{% endblock %}
