{% extends 'base.html' %}

{% load static %}

{% block title %} {{ object.title }} {% endblock %}
{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
    <ul>
        <li>People required: {{ object.people_required }}</li>
        <li>Created On: {{ object.created_on }}</li>
        <li>Updated On: {{ object.updated_on }}</li>
    </ul>
    <p>Comments:</p>
    <ul>
        {% for comment in object.comment.all %}
        <li>{{ comment.created_on }}: {{ comment.entry }}</li>
        {% endfor %}
    </ul>
{% endblock %}